html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

h1 {
  font-size: 1.4em;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

nav[role="select"] {
  width: 100%;
  position: relative;
  color: #000;
}
nav[role="select"] > select {
  display: none;
}
nav[role="select"] ul {
  width: 100%;
  list-style: none;
}
nav[role="select"] ul > li {
  float: left;
  padding: .55em .45em;
  width: 19%;
  font-size: 1.2em;
  background-color: rgba(174, 86, 168, 0.5);
  text-align: center;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, background, color, text-align, padding;
  cursor: pointer;
}
nav[role="select"] ul > li:hover {
  background-color: rgba(174, 86, 168, 0.3);
  color: #fff;
  text-align: left;
  padding-left: .75em;
  box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.3), 0 0 0 0.5em rgba(0, 0, 0, 0.3), 0 0 0 0.75em rgba(0, 0, 0, 0.3), inset 0 0 0 0.25em rgba(0, 0, 0, 0.3);
}
nav[role="select"] ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: inherit;
}

/* small screens */
@media screen and (max-width: 44em) {
  body {
    margin: 1em 0;
  }

  nav[role="select"] ul {
    display: none;
  }
  nav[role="select"]:after {
    position: absolute;
    z-index: -1;
    content: "Menu";
    right: 0;
    bottom: -1.75em;
    background: rgba(174, 86, 168, 0.4);
    padding: .15em .55em;
  }
  nav[role="select"] select {
    display: block;
    user-select: none;
    cursor: pointer;
    width: 100%;
    padding: .55em .45em;
    border: none;
    background-color: rgba(174, 86, 168, 0.25);
    font: 1.2em 'Exo', sans-serif;
  }
}
